* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
	font-size:62.5%;
}

#navbar {
	display: flex;
	justify-content: space-evenly;
	background-color: black;
	font-size: 20px;
	height: 10%;
}
a {
	color: white;
}